{% comment %}
  GitHub-style user profile card.
  Expects: include.username (string)
{% endcomment %}

<div class="repo-user-card-wrapper">
  <a href="https://github.com/{{ include.username }}" class="repo-user-card" target="_blank" rel="noopener noreferrer">
    <img
      class="repo-user-avatar"
      src="https://github.com/{{ include.username }}.png"
      alt="{{ include.username }}"
      loading="lazy"
    >
    <div class="repo-user-info">
      <div class="repo-user-name">
        <i class="fa-brands fa-github"></i>
        {{ include.username }}
      </div>
      <span class="repo-user-link">github.com/{{ include.username }}</span>
    </div>
  </a>
</div>
